*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0,0%,25%);
    padding: 15px;
}

/* Calculator body */
#calculator{
    width: 100%;
    max-width: 380px;
    background-color: hsl(0,0%,15%);
    border-radius: 30px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Screen */
#display{
    width: 100%;
    padding: 25px;
    font-size: clamp(2rem, 8vw, 4rem);
    text-align: right;
    border: none;
    outline: none;
    background: white;
}

/* Buttons area */
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 15px;
}

/* Buttons */
button{
    aspect-ratio: 1 / 1;   /* makes perfect circles */
    width: 100%;
    border: none;
    border-radius: 50%;
    background: hsl(0,0%,30%);
    color: white;
    font-size: clamp(1.5rem,5vw,2rem);
    font-weight: bold;

    /* Better mobile touch */
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

button:active{
    transform: scale(0.95);
    background: hsl(0,0%,50%);
}

.opreator-btn{
    background-color: rgb(255, 157, 0); 
}

.opreator-btn:hover{ 
    background-color: rgb(255, 177, 0); 
}

.opreator-btn:active{ 
    background-color: rgb(255, 187, 0);
}

/* Small phones */
@media (max-width:400px){

    #calculator{
        border-radius: 20px;
    }

    #display{
        padding:20px;
    }

    #keys{
        gap:8px;
    }
}